:root {
  --artefact-border: #f5f4e5;
  --artefact-glow: #fffef6;
}

.App {
  text-align: center;
  background-color: #1d1e20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* NAVBAR */

.nav-container {
  margin-bottom: 100px;
}

nav {
  margin-bottom: 50px;
}

.navbar {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #1d1e20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 400;
  margin-left: 20px;
}

.nav-right {
  height: inherit;
  display: flex;
  align-items: center;
  background-color: #1d1e20;
  transition: background-color 0.3s;
}

.categories {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  transition: background-color 0.3s;
}

.categories:hover {
  background-color: #393133;
}

.category {
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
}

.category:hover {
  color: #f4eead;
}

/* ARTIFACT */

.artefact-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

.primary-info {
  display: flex;
  justify-content: center;
}

.primary-image {
  max-width: 500px;
  margin-right: 30px;
}

.primary-text {
  text-align: left;
  max-width: 450px;
}

.smaller-screens {
  display: none;
}

.artefact-image {
  margin: 0 auto 10px;
  max-width: 500px;
  max-height: 600px;
  background-color: var(--artefact-border);
  box-shadow: 0 0 5px 0 var(--artefact-glow);
  margin: 0 auto 10px;
}

.artefact-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  margin: 0 0 25px;
}

.artefact-title-above-image {
  display: none;
  justify-content: center;
  margin: 0 30px 20px;
}

.artefact-info-value {
  margin: 10px 20px 10px;
  font-weight: 200;
}

.more-images {
  max-width: 500px;
  max-height: 500px;
  margin-left: 40px;
}

/* MORE DETAILS SECTION */

.more-declaration-h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.more-declaration-p {
  /* text-align: left; */
  margin-top: -15px;
}

.more-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.details-text {
  margin: 0;
  text-align: left;
  font-weight: 400;
  max-width: 400px;
}

.details-value {
  margin: -10px 20px 10px;
  font-weight: 200;
}

.text-values {
  font-weight: 200;
}

/* FOOTER */

#footer-text {
  color: #b9b7b7;
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 20px;
}

.footer-container {
  width: 100%;
  background-color: #393133;
  padding: 10px;
  text-align: center;
}

@media (max-width: 1100px) {
  #va-nav-logo {
    padding-left: 20px;
    max-width: 55px;
  }
  .nav-left h1 {
    font-size: 2rem;
    margin-left: 18px;
  }
  .categories:last-child {
    padding-right: 20px;
  }
  .category {
    font-size: 1.3rem;
  }
  .categories {
    padding: 0 10px;
  }
  .artefact-image {
    max-width: 400px;
    max-height: 500px;
    margin: 0 0 10px 30px;
  }
  .primary-text {
    margin: 0 20px;
  }
}

@media (max-width: 970px) {
  #va-nav-logo {
    max-width: 45px;
  }
  .nav-left h1 {
    font-size: 1.8rem;
    margin-left: 15px;
  }
  .category {
    font-size: 1.1rem;
  }
  .categories {
    padding: 0 8px;
  }
}

@media (max-width: 830px) {
  .nav-left h1 {
    font-size: 1.5rem;
    margin-left: 12px;
  }
  .category {
    font-size: 0.9rem;
  }
  .categories {
    padding: 0 6px;
  }
  .artefact-image {
    max-width: 300px;
    max-height: 450px;
  }
  .artefact-title-above-image {
    display: block;
  }
  .artefact-title-with-info {
    display: none;
  }
  
}

@media (max-width: 690px) {
  .primary-image {
    margin: 0 20px;
    padding: 0;
  }
  .nav-left h1 {
    display: none;
  }
  .primary-info, .more-details-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .artefact-image {
    max-width: 500px;
    max-height: 600px;
    padding: 0;
  }
  .details-text {
    display: inline;
  }
  .larger-screens {
    display: none;
  }
  .smaller-screens {
    display: block;
    text-align: center;
    margin-top: 25px;
  }
  .artefact-title {
    margin-top: -20px !important;
  }
  .location-text {
    margin-top: 30px;  
  }
  .more-images {
    margin: -50px auto 0;
  }
}

@media (max-width: 600px) {
  .artefact-image {
    max-width: 70vw;
    max-height: 500px;
  }
}

@media (max-width: 530px) {
  .artefact-image {
    max-width: 75vw;
    max-height: 490px;
  }
}

@media (max-width: 450px) {
  .artefact-image {
    max-width: 80vw;
    max-height: 70vh;
  }
}