:root {
  --artifact-border: #f5f4e5;
  --artifact-glow: #fffef6;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d1e20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.artifact-image {
  background-color: var(--artifact-border);
  border-radius: 3px;
  box-shadow: 0 0 30px 1px var(--artifact-glow); /* offset-x | offset-y | blur-radius | spread-radius | color */
  margin: 0 auto 10px;
}
