:root {
  --artifact-border: #f5f4e5;
  --artifact-glow: #fffef6;
}

.App {
  text-align: center;
  background-color: #1d1e20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* NAVBAR */

nav {
  margin-bottom: 50px;
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #1d1e20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.va-nav-logo {
  height: 40px;
  margin-right: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 400;
}

.nav-right {
  height: inherit;
  display: flex;
  align-items: center;
  background-color: #1d1e20;
  transition: background-color 0.3s;
}

.categories {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  transition: background-color 0.3s;
}

.categories:hover {
  background-color: #000;
  /* background-color: #2c2d30; */
}

.category {
  /* margin-right: 20px; */
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
}

.category:hover {
  color: #f4eead;
  /* color: #dfd0de; */
}

/* ARTIFACT */

.artifact-image {
  margin: 0 auto 10px;
}

.artifact-image {
  background-color: var(--artifact-border);
  /* border-radius: 3px; */
  box-shadow: 0 0 10px 1px var(--artifact-glow); 
  margin: 0 auto 10px;
}

.artifact-title {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  margin-top: 35px;
}
